<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <div class="introduction">
      <p><%= title %> is the global community for superambitious hackers.</p>
      <p>Discuss and share the edgy topics about engineering.</p>
      <p>To apply, you need Github account and we'll screen members with backgrounds, motivation to contribute, etc.</p>
    </div>
    

    <a class="typeform-share link apply" href="https://hackerslack.typeform.com/to/SguTgO" data-mode="1" target="_blank">Apply to Join</a>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
  </body>
</html>
