@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-rounded-medium.otf');
}

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.title {
  margin: 50px auto;
  font-family: Gotham;
  font-size: 4em;
  color: #00B7FF;
  letter-spacing: 3px;
}

.introduction {
  margin: 20px 0 60px 0;
}

.apply {
  text-decoration: none;
  font-family: Gotham;
  font-size: 18px;
  border: 1px solid #00B7FF;
  padding: 20px 30px;
  letter-spacing: 1px;
}

.apply:hover {
  background-color: #00B7FF;
  color: white;
}

